@import './base.css';

/* #app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;

	font-weight: normal;
} */

.dark #app {
  color: #303133;
  background-color: #ffffff;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  } */
  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}

.el-button--primary {
  --el-button-bg-color: #39b357c4;
  --el-button-border-color: #39b357c4;
  --el-button-outline-color: #39b357c4;
  --el-button-active-color: #39b357c4;
  --el-button-hover-bg-color: #39b357c4;
  --el-button-hover-border-color: #39b357c4;
  --el-button-active-bg-color: #39b357c4;
  --el-button-active-border-color: #39b357c4;
  --el-button-disabled-bg-color: #39b357c4;
  --el-button-disabled-border-color: #39b357c4;
}

.el-link.el-link--primary {
  --el-link-text-color: #11ee49;
  --el-link-hover-text-color: #39b357c4;
  --el-link-disabled-text-color: #147a2cc4;
}

html.dark {
  color-scheme: dark;
  --el-color-primary: #4ceb75;
  --el-color-primary-light-3: #4ceb75s;
  --el-color-primary-light-5: #2a598a;
  --el-color-primary-light-7: #4ceb75;
  --el-color-primary-light-8: #1d3043;
  --el-color-primary-light-9: #18222c;
  --el-color-primary-dark-2: #4ceb75;
  --el-color-success: #67c23a;
  --el-color-success-light-3: #4e8e2f;
  --el-color-success-light-5: #3e6b27;
  --el-color-success-light-7: #2d481f;
  --el-color-success-light-8: #25371c;
  --el-color-success-light-9: #1c2518;
  --el-color-success-dark-2: #85ce61;
  --el-color-warning: #e6a23c;
  --el-color-warning-light-3: #a77730;
  --el-color-warning-light-5: #7d5b28;
  --el-color-warning-light-7: #533f20;
  --el-color-warning-light-8: #3e301c;
  --el-color-warning-light-9: #292218;
  --el-color-warning-dark-2: #ebb563;
  --el-color-danger: #f56c6c;
  --el-color-danger-light-3: #b25252;
  --el-color-danger-light-5: #854040;
  --el-color-danger-light-7: #582e2e;
  --el-color-danger-light-8: #412626;
  --el-color-danger-light-9: #2b1d1d;
  --el-color-danger-dark-2: #f78989;
  --el-color-error: #f56c6c;
  --el-color-error-light-3: #b25252;
  --el-color-error-light-5: #854040;
  --el-color-error-light-7: #582e2e;
  --el-color-error-light-8: #412626;
  --el-color-error-light-9: #2b1d1d;
  --el-color-error-dark-2: #f78989;
  --el-color-info: #909399;
  --el-color-info-light-3: #6b6d71;
  --el-color-info-light-5: #525457;
  --el-color-info-light-7: #393a3c;
  --el-color-info-light-8: #2d2d2f;
  --el-color-info-light-9: #202121;
  --el-color-info-dark-2: #a6a9ad;
  --el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.36), 0px 8px 20px rgba(0, 0, 0, 0.72);
  --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.72);
  --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.72);
  --el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.72), 0px 12px 32px #000000, 0px 8px 16px -8px #000000;
  --el-bg-color-page: #f5f5f5;
  --el-bg-color: #ffffff;
  --el-bg-color-overlay: #ffffff;
}

.el-drawer {
  --el-drawer-bg-color: #ffffff;
  --el-drawer-padding-primary: var(--el-dialog-padding-primary, 20px);
  position: absolute;
  box-sizing: border-box;
  background-color: var(--el-drawer-bg-color);
  display: flex;
  flex-direction: column;
  box-shadow: var(--el-box-shadow-dark);
  overflow: hidden;
  transition: all var(--el-transition-duration);
}

.el-dialog {
  --el-dialog-width: 50%;
  --el-dialog-margin-top: 15vh;
  --el-dialog-bg-color: var(--el-bg-color);
  --el-dialog-box-shadow: var(--el-box-shadow);
  --el-dialog-title-font-size: var(--el-font-size-large);
  --el-dialog-content-font-size: 14px;
  --el-dialog-font-line-height: var(--el-font-line-height-primary);
  --el-dialog-padding-primary: 20px;
  --el-dialog-border-radius: var(--el-border-radius-small);
  position: relative;
  margin: var(--el-dialog-margin-top, 15vh) auto 50px;
  background: #ffffff;
  border-radius: var(--el-dialog-border-radius);
  box-shadow: var(--el-dialog-box-shadow);
  box-sizing: border-box;
  width: var(--el-dialog-width, 50%);
}

.el-input__wrapper {
  display: inline-flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 1px 11px;
  background-color: #ffffff;
  background-image: none;
  border-radius: var(--el-input-border-radius, var(--el-border-radius-base));
  cursor: text;
  transition: var(--el-transition-box-shadow);
  transform: translate3d(0, 0, 0);
  box-shadow: 0 0 0 1px var(--el-input-border-color, var(--el-border-color)) inset;
}

.el-input-group__append {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow:
    0 1px 0 0 var(--el-input-border-color) inset,
    0 -1px 0 0 var(--el-input-border-color) inset,
    -1px 0 0 0 var(--el-input-border-color) inset;
}

.el-dialog__title {
  color: #303133;
  font-size: var(--el-dialog-title-font-size);
  line-height: var(--el-dialog-font-line-height);
}

.el-upload-list__item-file-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #303133;
}

.el-upload-list__item-name .el-icon {
  color: #303133;
  margin-right: 6px;
}

.el-input-group__append,
.el-input-group__prepend {
  background-color: #ffffff;
  color: var(--el-color-info);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  border-radius: var(--el-input-border-radius);
  padding: 0 20px;
  white-space: nowrap;
}

.el-input__inner {
  -webkit-appearance: none;
  background: none;
  border: none;
  box-sizing: border-box;
  color: #303133;
  flex-grow: 1;
  font-size: inherit;
  height: var(--el-input-inner-height);
  line-height: var(--el-input-inner-height);
  outline: none;
  padding: 0;
  width: 100%;
}

.el-select__wrapper {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: var(--el-border-radius-base);
  box-shadow: 0 0 0 1px #e4e7ed inset;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  gap: 6px;
  line-height: 24px;
  min-height: 32px;
  padding: 4px 12px;
  position: relative;
  text-align: left;
  transform: translateZ(0);
  transition: var(--el-transition-duration);
}

.el-select__placeholder {
  color: var(--el-input-text-color, var(--el-text-color-regular));
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: -1;
  color: #303133;
}

.el-select-dropdown__list {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 6px 0;
  background-color: #f5f5f5;
}

.el-select-dropdown__item.is-hovering {
  background-color: #f5f5f5;
}

.el-popper.is-light,
.el-popper.is-light > .el-popper__arrow:before {
  background: #f5f5f5;
  border: 1px solid #e4e7ed;
}
